.flex-inline {
  display: inline-flex;
}

.flex-inline .form-item__description {
  margin-top: 0;
}

.flex-inline .dropbutton-wrapper {
  display: inline-flex !important;
}

.js .field--widget-paragraphs .description .dropbutton-wrapper {
  padding-right: 5.1em;
}

.field--widget-entity-reference-modal .input-group.flex-inline {
  flex-wrap: initial;
}
